Repository maci0/rebrew: changes, and which pre-commit hooks are due for each by the changed paths.
All: skills-ref, ruff-check, ruff-format

skills-ref:
  name: Validate Agent Skills
  entry: bash -c 'for f in "$@"; do uv run skills-ref validate "$f" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: Ruff Lint
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: Ruff Format
  entry: uv run ruff format
  language: system

refactor: move agent-skills into package and remove root copy
  .gitignore
  .pre-commit-config.yaml
  README.md
  agent-skills/rebrew-data-analysis/SKILL.md
  agent-skills/rebrew-matching/SKILL.md
  agent-skills/rebrew-status-tracking/SKILL.md
  agent-skills/rebrew-sync/SKILL.md
  agent-skills/rebrew-workflow/SKILL.md
  src/rebrew/agent-skills/rebrew-data-analysis/SKILL.md
  src/rebrew/agent-skills/rebrew-intake/SKILL.md
  src/rebrew/agent-skills/rebrew-matching/SKILL.md
  src/rebrew/agent-skills/rebrew-workflow/SKILL.md
  src/rebrew/init.py
Due: skills-ref, ruff-check, ruff-format

refactor: modernize open() to Path.open() and remove stale type ignores
  src/rebrew/binary_loader.py
  src/rebrew/build_db.py
  src/rebrew/cfg.py
  src/rebrew/config.py
  src/rebrew/sync.py
Due: ruff-check, ruff-format

refactor: rewrite catalog --summary with proper VA deduplication
  src/rebrew/catalog/cli.py
Due: ruff-check, ruff-format

refactor: type cfg as ProjectConfig in core shared modules
  src/rebrew/cli.py
  src/rebrew/compile.py
  src/rebrew/naming.py
Due: ruff-check, ruff-format

refactor: type cfg as ProjectConfig in test/verify/extract pipeline
  src/rebrew/extract.py
  src/rebrew/test.py
  src/rebrew/verify.py
Due: ruff-check, ruff-format

refactor: type cfg as ProjectConfig in lint, skeleton, and data modules
  src/rebrew/data.py
  src/rebrew/lint.py
  src/rebrew/skeleton.py
Due: ruff-check, ruff-format

refactor: type cfg as ProjectConfig in ga, asm, and nasm modules
  src/rebrew/asm.py
  src/rebrew/ga.py
  src/rebrew/nasm.py
Due: ruff-check, ruff-format

refactor: type cfg as ProjectConfig in catalog subpackage
  src/rebrew/catalog/export.py
  src/rebrew/catalog/loaders.py
  src/rebrew/catalog/registry.py
  src/rebrew/catalog/sections.py
Due: ruff-check, ruff-format

refactor: type cfg as ProjectConfig in depgraph and status modules
  src/rebrew/depgraph.py
  src/rebrew/status.py
Due: ruff-check, ruff-format

docs: update AGENTS.md type annotation guidance for ProjectConfig
  AGENTS.md
Due: none

chore: delete agent_local.yml
  agent_local.yml
Due: none

refactor: remove unnecessary shebangs from package modules
  src/rebrew/asm.py
  src/rebrew/decompiler.py
  src/rebrew/depgraph.py
  src/rebrew/extract.py
  src/rebrew/flirt.py
  src/rebrew/ga.py
  src/rebrew/gen_flirt_pat.py
  src/rebrew/lint.py
  src/rebrew/nasm.py
  src/rebrew/next.py
  src/rebrew/promote.py
  src/rebrew/skeleton.py
  src/rebrew/sync.py
  src/rebrew/test.py
  src/rebrew/triage.py
  src/rebrew/verify.py
Due: ruff-check, ruff-format

docs: sync documentation and agent skills with refactored CLI commands
  README.md
  docs/CONFIG.md
  docs/NAME_NORMALIZATION.md
  src/rebrew/agent-skills/rebrew-intake/SKILL.md
  src/rebrew/agent-skills/rebrew-matching/SKILL.md
  src/rebrew/init.py
  tests/test_phase1_fixes.py
Due: ruff-check, ruff-format

docs: normalize CLI commands to use 'rebrew <cmd>' across all documentation
  README.md
  docs/ANNOTATIONS.md
  docs/BOOTSTRAPPING.md
  docs/CLI.md
  docs/CONFIG.md
  docs/DB_FORMAT.md
  docs/DESIGN_PRINCIPLES.md
  docs/FLIRT_SIGNATURES.md
  docs/GHIDRA_SYNC.md
  docs/IDEAS.md
  docs/MATCH_TYPES.md
  docs/NAME_NORMALIZATION.md
  docs/TOOLCHAIN.md
  docs/USER_STORIES.md
  docs/WORKFLOW.md
  src/rebrew/agent-skills/rebrew-matching/SKILL.md
  src/rebrew/agent-skills/rebrew-workflow/SKILL.md
Due: none

Path conditions:
  skills-ref: any of: ^agent-skills/
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
