Repository maci0/rebrew: changes, and which pre-commit hooks are due for each by the changed paths.
All: skills-ref, ruff-check, ruff-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Install: uv run pre-commit install
# Run all: uv run pre-commit run --all-files

repos:
  # ---------- General file hygiene ----------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: debug-statements

  # ---------- Local tools (use uv-managed versions) ----------
  - repo: local
    hooks:
      - id: skills-ref
        name: Validate Agent Skills
        entry: bash -c 'for f in "$@"; do uv run skills-ref validate "$f" || exit 1; done' --
        language: system
        pass_filenames: true
        files: ^agent-skills/

      - id: ruff-check
        name: Ruff Lint
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: pytest
        name: pytest (fast)
        entry: uv run pytest tests/ -q --tb=short
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

refactor: deep audit pass 2 — modernize imports and tighten types
  src/rebrew/cfg.py
  src/rebrew/data.py
  src/rebrew/flirt.py
  src/rebrew/matcher/mutator.py
Due: ruff-check, ruff-format

refactor: deep audit pass 3 — sync docs and expand test coverage
  AGENTS.md
  docs/TOOLS.md
  tests/test_flirt_cov.py
  tests/test_init_cov.py
  tests/test_nasm_cov.py
  tests/test_promote.py
  tests/test_sync_cov.py
  tests/test_triage_cov.py
Due: ruff-check, ruff-format

test: add coverage for compile, gen_flirt_pat, and batch modules
  tests/test_batch_cov.py
  tests/test_compile_cov.py
  tests/test_gen_flirt_pat_cov.py
Due: ruff-check, ruff-format

test: add coverage for asm.py build_function_lookup
  tests/test_asm_cov.py
Due: ruff-check, ruff-format

test: add coverage for match.py BinaryMatchingGA init and fitness
  tests/test_match_cov.py
Due: ruff-check, ruff-format

chore: update AGENTS.md test count to 996, fix temp file leak in test_batch_cov
  AGENTS.md
  tests/test_batch_cov.py
Due: ruff-check, ruff-format

refactor: deep audit — logic fixes, type safety, lint cleanup, and regression tests
  pyproject.toml
  src/rebrew/annotation.py
  src/rebrew/binary_loader.py
  src/rebrew/catalog.py
  src/rebrew/cfg.py
  src/rebrew/data.py
  src/rebrew/flirt.py
  src/rebrew/ga.py
  src/rebrew/gen_flirt_pat.py
  src/rebrew/lint.py
  src/rebrew/matcher/__init__.py
  src/rebrew/matcher/compiler.py
  src/rebrew/matcher/mutator.py
  src/rebrew/nasm.py
  src/rebrew/next.py
  src/rebrew/triage.py
  src/rebrew/verify.py
  tests/test_binary_loader.py
  tests/test_cfg.py
Due: ruff-check, ruff-format

docs: update AGENTS.md test count to 1003
  AGENTS.md
Due: none

feat: add nested directory support for reversed source files
  src/rebrew/asm.py
  src/rebrew/batch.py
  src/rebrew/catalog.py
  src/rebrew/cli.py
  src/rebrew/data.py
  src/rebrew/depgraph.py
  src/rebrew/ga.py
  src/rebrew/lint.py
  src/rebrew/nasm.py
  src/rebrew/next.py
  src/rebrew/skeleton.py
  tests/test_nested_dirs.py
Due: ruff-check, ruff-format

docs: update AGENTS.md test count to 1029
  AGENTS.md
Due: none

refactor: create naming.py and consolidate shared naming/difficulty/origin utilities
  src/rebrew/ga.py
  src/rebrew/naming.py
  src/rebrew/next.py
  src/rebrew/skeleton.py
  src/rebrew/triage.py
  tests/test_guardrails.py
  tests/test_nested_dirs.py
  tests/test_next_unmatchable.py
  tests/test_refactor.py
  tests/test_skeleton.py
  tests/test_source_ext.py
  tests/test_triage_cov.py
Due: ruff-check, ruff-format

refactor: extract parse_source_metadata to annotation.py and remove --update from test.py
  src/rebrew/annotation.py
  src/rebrew/match.py
  src/rebrew/promote.py
  src/rebrew/test.py
  tests/test_json_output.py
Due: ruff-check, ruff-format

refactor: split catalog.py into catalog/ package with 7 modules
  src/rebrew/catalog.py
  src/rebrew/catalog/__init__.py
  src/rebrew/catalog/cli.py
  src/rebrew/catalog/export.py
  src/rebrew/catalog/grid.py
  src/rebrew/catalog/loaders.py
  src/rebrew/catalog/registry.py
  src/rebrew/catalog/sections.py
  tests/test_phase4.py
Due: ruff-check, ruff-format

refactor: rename batch.py to extract.py and update CLI entry point
  pyproject.toml
  src/rebrew/extract.py
  src/rebrew/main.py
  tests/test_batch_cov.py
  tests/test_phase1_fixes.py
Due: ruff-check, ruff-format

docs: update documentation for CLI refactoring
  AGENTS.md
  README.md
  docs/CLI.md
  docs/WORKFLOW.md
Due: none

docs: restructure documentation and add new reference guides
  docs/BOOTSTRAPPING.md
  docs/CONFIG.md
  docs/DB_FORMAT.md
  docs/FLIRT_SIGNATURES.md
  docs/GHIDRA_SYNC.md
  docs/IDEAS.md
  docs/MATCH_TYPES.md
  docs/README.md
  docs/TOOLCHAIN.md
  docs/TOOLS.md
  docs/USER_STORIES.md
Due: none

refactor: move agent-skills into package and remove root copy
  .gitignore
  .pre-commit-config.yaml
  README.md
  agent-skills/rebrew-data-analysis/SKILL.md
  agent-skills/rebrew-matching/SKILL.md
  agent-skills/rebrew-status-tracking/SKILL.md
  agent-skills/rebrew-sync/SKILL.md
  agent-skills/rebrew-workflow/SKILL.md
  src/rebrew/agent-skills/rebrew-data-analysis/SKILL.md
  src/rebrew/agent-skills/rebrew-intake/SKILL.md
  src/rebrew/agent-skills/rebrew-matching/SKILL.md
  src/rebrew/agent-skills/rebrew-workflow/SKILL.md
  src/rebrew/init.py
Due: skills-ref, ruff-check, ruff-format
